@tailwind base;
@tailwind components;
@tailwind utilities;

body, .p-treetable-column-title {
    font-family: "Noto Sans Khmer", Arial, sans-serif!important;

}

.p-treetable-body-cell-content {
    font-size: 15px;
}
